body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(154, 8, 245);
}

.container {
  border: 5px solid black;
  border-radius: 10px;
  background-color: rgb(11, 230, 254);
  width: 350px;
  flex-direction: column;
  box-shadow: 0px 5px 20px rgb(68, 68, 68);
}

.card-body {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.login-btn {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(154, 8, 245);
  padding: 6px;
  border: 3px solid black;
  cursor: pointer;
  color: white;
}

.login-btn:hover {
  background-color: magenta;
}

.card-footer p {
  font-family: "Comic Sans MS", sans-serif;
  text-align: center;
}

.card-footer a {
  text-decoration: none;
  color: rgb(154, 8, 245);
  font-weight: bold;
}

.card-footer a:hover {
  color: magenta;
}
