body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

.header {
  background-color: rgb(69, 123, 199);
  width: 100%;
}

.header h1 {
  margin: 20px 0;
}

.footer {
  background-color: rgb(69, 123, 199);
  width: 100%;
}

.main {
  background-color: rgba(177, 177, 177, 0.233);
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.travel-cards {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.travel-card {
  width: 300px;
  height: 350px;

  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  color: black;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s;
}

.travel-card img {
  width: 300px;
  height: 180px;
  border-bottom: 2px solid black;
}

.travel-text {
  text-align: left;
  margin: 15px;
}

.travel-card p {
  color: #555;
}

.travel-card:hover {
  transform: scale(1.06);
}
