html {
  font-size: 50px;
}

.hero {
  height: 100vh;
}

.fixed-box {
  width: 300px;
  height: 150px;
  background-color: lightblue;
}

.responsive-box {
  width: 50%;
  background-color: rgb(182, 173, 230);
  padding: 20px;
  margin: 5% 0;
}

.text-box {
  background-color: rgb(173, 230, 204);
  font-size: 1.8rem;
  padding: 1em;
  margin: 1em 0;
}

.viewport-box {
  width: 50vw;
  height: 20vh;
  background-color: coral;
  margin: 1vw 0;
}

/* ASK MIDO ABOUT IMG SETTINGS */
img {
  max-width: 100%;
  height: auto;
}

button {
  font-size: 50px;
  padding: 2em;
  margin: 2em 0;
}

@media only screen and (max-width: 599px) {
  body {
    background-color: red;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  body {
    background-color: blue;
  }
}

@media only screen and (min-width: 900px) {
  body {
    background-color: green;
  }
}
