body {
  margin: 0;
  padding: 0;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.container {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}
